---
import Layout from "@/layouts/Layout.astro";

// Generate a fake array of 100 elements
const fakeArray = Array.from({ length: 100 });
---

<Layout>
  <div class="works-section">
    <h2>Works</h2>
    <div>
      {
        fakeArray.map((e) => {
          return <p>test</p>;
        })
      }
    </div>
  </div>
</Layout>
