/* Global variables */
:root {
	/* Colors */
	--gray-0: #090b11;
	--gray-50: #141925;
	--gray-100: #283044;
	--gray-200: #3d4663;
	--gray-300: #505d84;
	--gray-400: #6474a2;
	--gray-500: #8490b5;
	--gray-600: #a3acc8;
	--gray-700: #c3cadb;
	--gray-800: #e3e6ee;
	--gray-900: #f3f4f7;
	--gray-999-basis: 0, 0%, 100%;
	--gray-999_40: hsla(var(--gray-999-basis), 0.4);
	--gray-999: #ffffff;

	/* Text Sizes */
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-md: 1.125rem;
	--text-lg: 1.25rem;
	--text-xl: 1.625rem;
	--text-2xl: 2.125rem;
	--text-3xl: 2.625rem;
	--text-4xl: 3.5rem;
	--text-5xl: 4.5rem;

	/* Fonts */
	--font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-body: 'Public Sans', var(--font-system);
	--font-brand: Rubik, var(--font-system);
	--font-primary: "Arial", sans-serif;
		--font-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	/* Transitions */
	--theme-transition: 0.2s ease-in-out;
	--transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1);

	/* Nav */
	--nav-width: 100px;
	--nav-height: calc(50px + 1.5rem);
}

#root {
	min-height: 100%;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100%;
}

body {
	min-height: 100%;
	overflow-x: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: var(--font-secondary);
	font-size: var(--text-base);
	background-color: white;
	color: var(--gray-300);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: -.025em;
	margin: 0 0 10px;
	font-weight: 700;
}

h1,
h2,
h3 {
	font-weight: 900;
}

p {
	margin: 0 0 10px;
}

ol,
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	transition: var(--transition);
	cursor: pointer;

	:hover {
		color: var(--gray-700);
		stroke: var(--gray-700);
	}
}

img {
	/* width: 100%; */
	max-width: 100%;
	vertical-align: middle;
}

svg {
	transition: var(--transition);
	/* fill: currentColor; */
	/* vertical-align: middle; */
}

input {
	border-radius: 0;
	outline: 0;

	&::placeholder {
		opacity: 0.7;
	}

	&:focus,
	&:active {
		&::placeholder {
			opacity: 0.5;
		}
	}
}

button {
	display: inline-block;
	color: var(--gray-800);
	font-family: var(--font-secondary);
	font-size: var(--text-base);
	font-weight: 700;
	border: 0;
	/* padding: 10px 20px; */
	cursor: pointer;
	transition: var(--transition);

	&:hover,
	&:focus {
		outline: 0;
	}
}

@media screen and (max-height: 368px) {
	.img-wrapper {
		padding-top: 50px;
	}
}

@media screen and (max-width: 768px) {}
