---
import { Image } from "astro:assets";
import { homePagePic } from "@/constants/images";
import Adam_and_Eve from "@/assets/images/Lead/P01692a00xf2006_(Adam_and_Eve).jpg";
---

<main id="main-home">
  <div class="img-wrapper">
    <Image
      src={Adam_and_Eve}
      alt={homePagePic.alt}
      width={homePagePic.width}
      height={homePagePic.height}
      fetchpriority="high"
      loading="eager"
    />
  </div>
  <div class="rights">
    <p>
      &copy; {new Date().getFullYear()} Alejandro Guijarro All Rights Reserved.
    </p>
    <p>
      Designed & built by{" "}
      <a
        href="https://www.miguelcapellan.com"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="MCV- Link that redirects to builder's site"
      >
        MCV
      </a>
    </p>
  </div>
</main>

<style>
  #main-home {
    max-height: calc(100vh - calc(50px + 1.5rem));
  }

  .img-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 80%;
  }

  img {
    object-fit: contain;
    max-width: 80vw;
    max-height: 70vh;
  }

  .rights {
    text-align: center;
    padding-top: 3rem;
    font-size: 0.6rem;
    p {
      color: var(--gray-300);
      a:hover {
        transition: var(--transition);
        color: var(--gray-50);
      }
    }
  }

  @media screen and (max-height: 368px) {
    .img-wrapper {
      padding-top: 50px;
    }

    .rights {
      padding: 3rem 2rem 0 2rem;
    }
  }

  @media screen and (max-width: 768px) {
  }
</style>
