---
import { works } from "@/constants/images";
import Main from "@/layouts/Main.astro";
import WorkGallery from "@/components/WorkGallery/WorkGallery.astro";
---

<Main>
  {
    Object.values(works).map((work) => {
      return <WorkGallery work={work} />;
    })
  }
</Main>
