.bio_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    color: var(--grey);
}

.bio_pic {
    padding: 0;
    width: 40%;
    height: auto;
    vertical-align: middle;
    object-fit: contain;
}

.bio_info_container {
    padding-top: 50px;
    color: var(--grey);

    p {
        padding: 0;
        margin: 0;
    }
}

.bio_info_title {
    color: var(--grey);
    font-size: 0.7rem;
    padding-top: 1rem;
    margin: 0;
}

.bio_info_year {
    color: var(--grey);
    padding: 0.5rem 0;
    margin: 0;
}

.bio_info_link {
    padding: 0;

    :hover {
        color: var(--grey);
    }
}

@media (max-width: 30em) {
    .bio_container {
        flex-direction: column;
        justify-content: center;
    }

    .bio_pic {
        width: 100%;
    }
}
