---
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import BioPage from "@/components/pages/Bio/BioPage.astro";
---

<Layout>
  <Main>
    <BioPage />
  </Main>
</Layout>
