---
import Layout from "@/layouts/Layout.astro";
// import Main from "@/layouts/Main.astro";
import ContactPage from "@/components/pages/ContactPage.astro";
---

<Layout>
  <!-- <Main> -->
  <ContactPage />
  <!-- </Main> -->
</Layout>
