---
import "./nav.css";

const { url } = Astro;
---

<nav-bar id="nav-bar">
  <div id="nav-bar_container" class="active">
    <a href="/" class="nav-bar_title">
      <h3>ALEJANDRO GUIJARRO</h3>
    </a>
    <div class="nav-bar_list_container">
      <ul>
        <li>
          <a href="/works" class={url.pathname === "/works" ? "active" : ""}
            >Works</a
          >
        </li>
        <li>
          <a href="/bio" class={url.pathname === "/bio" ? "active" : ""}>Bio</a>
        </li>
        <li>
          <a href="/contact" class={url.pathname === "/contact" ? "active" : ""}
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav-bar>

<script>
  import { NavBar } from "./Nav.ts";
  new NavBar();
</script>
