---
import NavLink from "@/components/NavLink/NavLink.astro";
import "./nav.css";
---

<div id="nav-bar_container">
  <a href="/" class="nav-bar_title">
    <h3>ALEJANDRO GUIJARRO</h3>
  </a>
  <div class="nav-bar_list_container">
    <ul>
      <li>
        <NavLink href="/works" label="Works" />
      </li>
      <li>
        <NavLink href="/bio" label="Bio" />
      </li>
      <li>
        <NavLink href="/contact" label="Contact" />
      </li>
    </ul>
  </div>
</div>

<script>
  import "./Nav.ts";
</script>
