
#nav-bar_container {
    &.active {
      visibility: visible;
      transition: all 300ms ease-in;
    }

        &.hidden {
      visibility: hidden;
      transition: all 300ms ease-out;
      transform: translate(0, -100%);
    }
  }

  #nav-bar_container {
    display: grid;
    align-items: center;
    min-width: 100vw;
    width: 100vw;
    min-height: calc(var(--nav-height) + 30px);
    height: calc(var(--nav-height) + 30px);
    position: fixed;
    top: 0;
    left: 0;
    color: var(--grey);
    background-color: white;
    text-align: center;
    z-index: 1000;
  }

  .nav-bar_title {
    color: var(--grey);
    letter-spacing: 0.4rem;
    padding-top: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 900;

    :hover {
      transition: var(--transition);
      color: var(--light-grey);
    }
  }

  .nav-bar_list_container {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0;
      li {
        padding: 0 10px;
        a {
          color: var(--grey);
          font-size: 0.7rem;
          font-weight: normal;
          &:hover {
            transition: var(--transition);
            color: var(--black);
          }
        }
      }
    }
  }

  .box-shadow {
    box-shadow: var(--box-shadow);
  }

  @media (max-width: 30em) {
    #nav-bar_container {
      min-height: calc(var(--nav-height));
      height: calc(var(--nav-height));
    }

    .nav-bar_list_container {
      padding-bottom: 10px;
    }
  }

