---
import MainHead from "@/layouts/MainHead.astro";
import NavBar from "@/layouts/Nav/Nav.astro";
import Footer from "@/layouts/Footer/Footer.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  isWorkPage?: boolean;
}

const { url, props } = Astro;
const isHomePage = url.pathname === "/";

const { title, description, isWorkPage = false } = props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <MainHead title={title} description={description} />
  </head>
  <body>
    <div class={!isWorkPage ? "app-container" : ""}>
      <div class={!isWorkPage ? "site-wrapper" : ""}>
        {!isWorkPage && <NavBar />}
        <slot />
        {!isHomePage && <Footer />}
      </div>
    </div>
  </body>
</html>

<style>
  .app-container {
    height: 100%;
    min-height: 100vh;
  }
  .site-wrapper {
    padding-top: calc(var(--nav-height) + 1.5rem);
  }

  @media (max-width: 75em) {
    .site-wrapper {
      padding-top: calc(var(--nav-height) + 0.5rem);
    }
  }
</style>
