---
import Rights from "@/components/Rights/Rights.astro";
import Instagram from "@/components/icons/Instagram.astro";
import NavLink from "@/components/NavLink/NavLink.astro";
import "./footer.css";
---

<footer id="footer_container">
  <section class="footer_section">
    <div class="footer_social-icons">
      <a
        href="https://www.instagram.com/alejandroguijarrostudio/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Go to Alejandro Guijarro Instagram profile"
      >
        <Instagram />
      </a>
    </div>
    <div class="footer_back-to-top">
      <button id="back-to-top-btn">Back to Top &uarr;</button>
    </div>
    <nav class="footer_nav">
      <ul>
        <li>
          <NavLink href="/" label="Home" />
        </li>
        <li>
          <NavLink href="/works" label="Works" />
        </li>
        <li>
          <NavLink href="/bio" label="Bio" />
        </li>
        <li>
          <NavLink href="/contact" label="Contact" />
        </li>
      </ul>
    </nav>
    <div class="footer_rights">
      <Rights />
    </div>
  </section>
</footer>

<script>
  function smoothScrollTo(position: number): void {
    window.scrollTo({ top: position, behavior: "smooth" });
  }

  const backToTopBtnId = "back-to-top-btn";
  const backToTopBtnElement = document.getElementById(backToTopBtnId);

  if (!backToTopBtnElement) {
    console.error(`No element with id: ${backToTopBtnId}`);
  }

  backToTopBtnElement?.addEventListener("click", () => smoothScrollTo(0));
</script>
